*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} 

h1, h2, h3{
    color: blue;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER E NAV */
header {
    background-color: blue;
    color: white;
    padding: 0.5em 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: blue;
    padding: 10px 0;;
}

a.nav {
    text-decoration: none;
    color: white;
}

a.email:link, 
a.email:hover, 
a.email:visited {
    color: white;
}

/* GRIGLIA */
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}

.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

[class^="col-"] {
    flex-shrink: 1; 
    flex-grow: 0;
    padding-right: 15px;
    padding-left: 15px
}

/* CONTENITORI */
.container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.container3 {
    background-color: white;
    padding: 20px;
    gap: 10px;
}

.container4 {
    background-color: lightgray;
    padding: 20px;
    gap: 10px;
}

.container5 {
    background-color: white;
    padding: 20px;
    gap: 10px;
    display: flex;
    align-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15;
}

.col{
    margin: 0 -15;
}

/* TABELLA */
table, td{
    border-collapse: collapse;
    border: 1px solid black;
}

th{
    background-color: blue;
    color: white;
    border: 1px solid white;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* UL CARTE PERSONAGGI */
.container3 ul {
    list-style-type: none;
    padding: 10px;
}

.container3 li {
    margin-bottom: 5px;
}

div > ul { /* figli diretti del precedente */
    border: 2px solid blue;
    border-radius: 8px;
    background-color: #f8f8f8;
    width: 100%
}

input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    /* serve per metterli uno di fianco all'altro */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}